#tab{
    /* height: 15%; */
    /* width: auto; */
    background: -webkit-linear-gradient(left, #44B8DC ,#3480D4);
}

#myInput{
    width: 70%;
}

#ml{
    margin-left: 50px;
}
/* #icon{
    font-size:auto;
    color:#f39c12;
} */
/* .nav-link{
    font-size: 100%
} */
.home_logo{
    height: 100%;
    width: 200px;
    /* border-radius: 50%;
    border: 2px solid yellow; */
    /* ใสาให้เคลื่อนไหว ค่อบลบ */
    /* -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate; */
}
.name {
    font-size: 35px;
    color: RGB(33, 47, 61);
    text-align: center;
    /* margin-bottom: 50px; */
}
    #clockbox{
        text-align:center;
        color:black;
        /* font-weight:bold; */
        font-size: 100%;
    }

#colorjum{
    background: rgb(108, 193, 236 ,0.5)
}
   
